In [1]:
import sqlite3

# Crear una conexión al archivo de base de datos "bd.db"
# Si no existe, SQLite lo creará automáticamente
conn = sqlite3.connect('bd.db')  # El archivo será 'bd.db'
cursor = conn.cursor()

# Crear la tabla de usuarios
cursor.execute('''
    CREATE TABLE IF NOT EXISTS usuarios (
        id INTEGER PRIMARY KEY,
        nombre TEXT NOT NULL,
        edad INTEGER NOT NULL
    )
''')

# Crear la tabla de órdenes relacionada con la tabla de usuarios
cursor.execute('''
    CREATE TABLE IF NOT EXISTS ordenes (
        id INTEGER PRIMARY KEY,
        usuario_id INTEGER NOT NULL,
        producto TEXT NOT NULL,
        cantidad INTEGER NOT NULL,
        FOREIGN KEY (usuario_id) REFERENCES usuarios(id)
    )
''')

# Insertar datos en la tabla de usuarios
cursor.execute("INSERT INTO usuarios (nombre, edad) VALUES ('Juan', 28)")
cursor.execute("INSERT INTO usuarios (nombre, edad) VALUES ('Ana', 22)")

# Insertar datos en la tabla de órdenes
cursor.execute("INSERT INTO ordenes (usuario_id, producto, cantidad) VALUES (1, 'Laptop', 1)")
cursor.execute("INSERT INTO ordenes (usuario_id, producto, cantidad) VALUES (2, 'Teclado', 2)")

# Guardar los cambios en el archivo de base de datos
conn.commit()

# Realizar una consulta para verificar los datos insertados
cursor.execute('SELECT * FROM usuarios')
print("Usuarios:")
print(cursor.fetchall())

cursor.execute('SELECT * FROM ordenes')
print("\nÓrdenes:")
print(cursor.fetchall())

# Cerrar la conexión con la base de datos
conn.close()

Usuarios:
[(1, 'Juan', 28), (2, 'Ana', 22)]

Órdenes:
[(1, 1, 'Laptop', 1), (2, 2, 'Teclado', 2)]

In [2]:
conn = sqlite3.connect('bd.db')
cursor = conn.cursor()

# Ahora puedes hacer consultas o inserciones
cursor.execute('SELECT * FROM usuarios')
print(cursor.fetchall())

# No olvides cerrar la conexión cuando termines
conn.close()

[(1, 'Juan', 28), (2, 'Ana', 22)]

In [3]:
import sqlite3

# Conectar a la base de datos
conn = sqlite3.connect('bd.db')
cursor = conn.cursor()

# Consulta para obtener el nombre de todas las tablas
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Obtener y mostrar todas las tablas
tablas = cursor.fetchall()
print("Tablas en la base de datos:")
for tabla in tablas:
    print(tabla[0])

# Cerrar la conexión
conn.close()

Tablas en la base de datos:
usuarios
ordenes

In [7]:
import sqlite3

# Conectar a la base de datos
conn = sqlite3.connect('bd.db')
cursor = conn.cursor()

# Borrar la tabla 'ordenes'
cursor.execute("DROP TABLE IF EXISTS ordenes;")
conn.commit()

print("Tabla 'ordenes' eliminada.")

# Cerrar la conexión
conn.close()

Tabla 'ordenes' eliminada.

In [12]:
import sqlite3

# Conectar a la base de datos
conn = sqlite3.connect('bd.db')
cursor = conn.cursor()

# Borrar la tabla 'ordenes'
cursor.execute("DROP TABLE IF EXISTS usuarios;")
conn.commit()

print("Tabla 'ordenes' eliminada.")

# Consultar las tablas restantes
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tablas = cursor.fetchall()
print("Tablas en la base de datos después de eliminar:")
for tabla in tablas:
    print(tabla[0])

# Cerrar la conexión
conn.close()

Tabla 'ordenes' eliminada.
Tablas en la base de datos después de eliminar:

In [13]:
import sqlite3

# Conectar a la base de datos o crearla si no existe
conn = sqlite3.connect('bd.db')
cursor = conn.cursor()

# Crear la tabla contenedor
cursor.execute('''
    CREATE TABLE IF NOT EXISTS contenedor (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        contenedor2_id INTEGER,
        FOREIGN KEY (contenedor2_id) REFERENCES contenedor2(id)
    )
''')

# Crear la tabla contenedor2 (Facultades)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS contenedor2 (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name_abreviado TEXT NOT NULL,
        name_completo TEXT NOT NULL,
        url_paginaweb TEXT,
        contenedor3_id INTEGER,
        FOREIGN KEY (contenedor3_id) REFERENCES contenedor3(id)
    )
''')

# Crear la tabla contenedor3 (Especialidades)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS contenedor3 (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name_especialidad TEXT NOT NULL,
        url_paginaweb TEXT,
        contenedor2_id INTEGER,
        FOREIGN KEY (contenedor2_id) REFERENCES contenedor2(id)
    )
''')

# Crear la tabla contenedor4 (Eventos)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS contenedor4 (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        descripcion TEXT,
        medio TEXT,
        responsable TEXT,
        procesa TEXT,
        observacion TEXT,
        start_date DATETIME NOT NULL,
        end_date DATETIME,
        backgroundColor TEXT,
        textColor TEXT,
        allDay BOOLEAN,
        contenedor3_id INTEGER,
        contenedor2_id INTEGER,
        FOREIGN KEY (contenedor3_id) REFERENCES contenedor3(id),
        FOREIGN KEY (contenedor2_id) REFERENCES contenedor2(id)
    )
''')

# Poblar la tabla contenedor2 (Facultades)
cursor.execute('''
    INSERT INTO contenedor2 (name_abreviado, name_completo) VALUES
    ('A', 'Arquitectura, Urbanismo y Artes'),
    ('C', 'Ingeniería Civil'),
    ('E', 'Ingeniería Económica, Estadística y Ciencias Sociales')
''')

# Poblar la tabla contenedor3 (Especialidades)
cursor.execute('''
    INSERT INTO contenedor3 (name_especialidad, url_paginaweb, contenedor2_id) VALUES
    ('Arquitectura', 'http://arquitectura.ejemplo.com', 1),
    ('Ingeniería Civil', 'http://civil.ejemplo.com', 2),
    ('Ingeniería Económica', 'http://economica.ejemplo.com', 3)
''')

# Poblar la tabla contenedor4 (Eventos)
cursor.execute('''
    INSERT INTO contenedor4 (name, descripcion, medio, responsable, procesa, observacion, start_date, end_date, backgroundColor, textColor, allDay, contenedor3_id, contenedor2_id) VALUES
    ('Conferencia sobre Arquitectura Sostenible', 'Charla sobre diseños sostenibles', 'Online', 'Dr. Juan Pérez', 'Conferencia', 'Evento virtual', '2024-10-15 09:00:00', '2024-10-15 11:00:00', '#ff0000', '#ffffff', 0, 1, 1),
    ('Taller de Ingeniería Civil', 'Taller práctico sobre nuevas técnicas', 'Presencial', 'Ing. Ana Rodríguez', 'Taller', 'En el campus principal', '2024-10-20 14:00:00', '2024-10-20 17:00:00', '#00ff00', '#000000', 0, 2, 2)
''')

# Confirmar los cambios
conn.commit()

# Consultar las tablas creadas
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tablas = cursor.fetchall()
print("Tablas en la base de datos:")
for tabla in tablas:
    print(tabla[0])

# Cerrar la conexión
conn.close()

Tablas en la base de datos:
contenedor
sqlite_sequence
contenedor2
contenedor3
contenedor4

In [16]:
import sqlite3

# Conectar a la base de datos
conn = sqlite3.connect('bd.db')
cursor = conn.cursor()

# Crear la tabla contenedor si no existe
cursor.execute('''
    CREATE TABLE IF NOT EXISTS contenedor (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        contenedor2_id INTEGER,
        FOREIGN KEY (contenedor2_id) REFERENCES contenedor2(id)
    )
''')

# Insertar el valor "Facultades" en la tabla contenedor
cursor.execute('''
    INSERT INTO contenedor (name, contenedor2_id) VALUES
    ('Facultades', NULL)
''')

# Guardar los cambios
conn.commit()

# Consultar la tabla contenedor para verificar la inserción
cursor.execute('SELECT * FROM contenedor')
contenedores = cursor.fetchall()

print("Contenido de la tabla 'contenedor':")
for contenedor in contenedores:
    print(contenedor)

# Cerrar la conexión (después de que todas las operaciones estén completas)
conn.close()

Contenido de la tabla 'contenedor':
(1, 'Facultades', None)